#video{
    text-align: center;
}
.achievement_head{ 
font-size: 20px; 
padding: 6px 22px; 
border-radius: 10px; 
margin-bottom: 15px; 
width: 100%; display: inline-block; 
}
.achievement_head i{ 
float: right; 
} 
.achievement_text span{ 
color: #ff7700; 
}